* {
	padding: 0;
	margin: 0;
	border: 0rem;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body{
	padding: 30px;
}


.content {
	font-size: 20px;
	color: #273d46;
	margin-bottom: 80px;
}
.content__list li {
	margin: 0 0 20px 0;
}
.content__list li:nth-child(1){
	text-decoration: line-through;
}
.content__list li:hover:nth-child(1){
	text-decoration: none;
}
.content__list li:nth-child(2){
	font-weight: 700;
}
.content__list li:nth-child(3){
	font-style: italic;
}
.content__list li:hover:nth-child(3){
	font-style: normal;
}
.content__list li:nth-child(4){
	text-transform: uppercase;
}
.content__list li:hover:nth-child(4){
	text-transform: none;
}
.content__list li:before{
	content: "";
	background: url(../img/check_icon_green.png) left no-repeat;
	padding: 0 0 0 32px;
}
.content__list .red:hover:before{
	content: "";
	background: url(../img/check_icon_red.png) left no-repeat;
}
.content__list .red:hover{
	color: #d55a5a;
}

.button {
	margin-bottom: 118px;
}
.button__link {
	color: #ffffff;
	background-color: #80b7b3;
	font-size: 14px;
	letter-spacing: 2.8px;
	border-radius: 25px;
	padding: 15px 30px 15px 30px;
	text-transform: uppercase;
}
.button__link:after{
	content: "";
	background: url(../img/Shape.png) right no-repeat;
	padding: 0px 30px 0 0;
}
.button__link:hover:after{
	background: url(../img/check_icon_red.png) right no-repeat;
}
.button__link:hover{
	background-color: #3a5856;
	color: rgb(236, 192, 142);
}
.button__link:active{
	background-color: #818181;
}





.text__info1, .text__info2 {
	margin: 0 0 45px 0;
	color: #000000;
	font-size: 18px;
	width: 761px;
	line-height: 28px;
}
.text__info1:first-line{
	color: #ff0000;
}
.text__info2:first-letter{
	color: #ff0000;
	font-size: 25px;

}





@media (max-width:992px){
	.text {
		display: flex;
		padding-bottom: 100px;
	}
	.text__info1, .text__info2{
		margin: 0 30px 0px 0;
		border: 1px solid red;
		padding: 5px;
	}
	.text__info1{
			box-shadow: 1px 1px 10px;
			border-radius: 10px;
	}
	.text__info1:hover{
		color: blue;
		box-shadow: 5px 5px 30px black;
		border: 2px solid rgba(255, 0, 0, 0.075);
	}
	.text__info2{
			box-shadow: 1px 1px 10px;
			border-radius: 10px;
	}
	.text__info2:hover{
		color: blue;
		box-shadow: 5px 5px 30px black;
		border: 2px solid rgba(255, 0, 0, 0.075);
	}
	
}
@media (max-width:558px){
	.text {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	
	}
	.text__info1, .text__info2{
		max-width: 300px;
		max-width: 100%;
		margin: 0 0px 20px 0;
	}
}




